* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #222;
  color: #fafafa;
}

main {
  margin: auto;
  text-align: center;
  padding: 1rem 0;
}

canvas {
  --scale: 2;
  --width: 640;
  background: black;
  width: calc(1px * var(--width) * var(--scale));
  aspect-ratio: 16/9;
  image-rendering: pixelated;
}
