* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #222;
  color: #fafafa;
}

main {
  margin: auto;
  text-align: center;
  padding: 1rem;
}

canvas {
  --scale: 1;
  --size: 256;
  background: black;
  width: calc(1px * var(--size) * var(--scale));
  aspect-ratio: 1/1;
  image-rendering: pixelated;
}
