* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #222;
  color: #fafafa;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

main {
  margin: auto;
  text-align: center;
}

canvas {
  --scale: 2;
  --width: 640;
  --ratio: 1 / 1;
  background: black;
  width: calc(1px * var(--width) * var(--scale));
  aspect-ratio: var(--ratio);
  image-rendering: pixelated;
}

#fps {
  padding: 1rem;
  font-family: monospace;
}

footer {
  text-align: center;
  opacity: 0.5;
  padding: 1rem;
}

footer p + p {
  margin-top: 1rem;
}

a {
  color: yellow;
}
